html,
    body {
      height: 100%;
      margin: 0;
    }

    .bg {
      background-image: url('bg.jpg');
      background-position: center;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-size: cover;
    }

    #wrapper {
      min-height: 100%;
    }

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
      background: transparent;
      border: 5px white solid;

    }